.text-box {
  background-color: #F7A9A8;
  border: 8px solid #7D82B8;
  padding: 1rem;
  max-width: 100%;
  color: #613F75;
  justify-content: center;
  align-items: center;
}

.text-box h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #613F75;
}
.text-box p {
  font-size: 1.1rem;
  line-height: 1.6;
}
